langgraph
langchain_community
langchain_groq
langchain-ollama
langchain_google_genai
youtube-transcript-api
python_dotenv
fastapi
streamlit
#ipykernel
tabulate
mcp 
fastmcp 
langchain-mcp-adapters
duckduckgo-search
plotly 
networkx 
pyvis
pinecone
matplotlib