langgraph
langchain_community
langchain_groq
langchain-ollama
python_dotenv
fastapi
streamlit
#ipykernel
tabulate
mcp 
fastmcp 
langchain-mcp-adapters
duckduckgo-search
plotly 
networkx 
pyvis
pinecone